<h3>Users Questions</h3>

<ul>
<% @questions.each do |question| %>
  <li class='question-element'>
    <div class='row questions-container'>
      <h4><%= link_to question.title, question_path(question.to_param), method: :get %></h4>
      <p><%= "#{question.user.user_name} | Answers: #{question.answers.length} | Best answer by" %></p>
    </div>
  </li>
<% end %>
</ul>
